# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.egg/

venv/
.venv/
backend/venv/
backend/.venv/

# env files
.env
.env.*

# Node / Next
frontend/node_modules/
frontend/.next/
**/node_modules/
**/.next/

# Logs
*.log

# Backend cache
backend/__pycache__/

# IDE
.vscode/
.idea/

